body {
  height: 200vh;
}

div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
img {
  width: 80%;
  filter: grayscale(1);
  transition: 0.5s;
}

img:hover {
  filter: grayscale(0);
  box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px 10px 0px -3px,
    rgb(255, 0, 24) 10px 10px, rgb(255, 255, 255) 20px 20px 0px -3px,
    rgb(255, 165, 44) 20px 20px, rgb(255, 255, 255) 30px 30px 0px -3px,
    rgb(255, 255, 65) 30px 30px, rgb(255, 255, 255) 40px 40px 0px -3px,
    rgb(0, 128, 24) 40px 40px;
  transform: scale(1.1);
  transform: translate(-10px, -10px) scale(1.1);
}

photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

video {
  filter: grayscale(1);
  transition: 0.5s;
}
video:hover {
  filter: grayscale(0);
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
  transform: scale(1.1);
  transform: translate(-10px, -10px) scale(1.1);
}

@media (max-width: 768px) {
  div {
    flex-direction: column;
  }
  img {
    width: 50%;
  }
  video {
    width: 60%;
  }
}
