table {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
td,
tr,
th {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
}
tr,
th {
  font-size: 40px;
  border: 0px solid black;
  font-weight: normal;
}
