@font-face {
    font-family: 'Hanalei';
    src: url('Hanalei-Regular.woff2') format('woff2'),
        url('Hanalei-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

