body {
  background-color: #f5f5f5;
  font-family: "Hanalei", sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background: rgb(255, 113, 0);
  background: linear-gradient(
    0deg,
    rgba(255, 113, 0, 1) 27%,
    rgba(255, 203, 0, 1) 59%
  );
}
.logo-nav {
  width: 50px;
  fill: white;
  transition: all 0.3s ease-in-out;
  padding: 5px;
}
.logo-nav:hover {
  fill: red;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: darkorange;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 20px;
}
nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 28px;
  font-weight: 500;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
  transform-origin: left;
}
nav ul li a:hover {
  border-bottom: 2px solid white;
  font-color: white;
}
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}
.hero-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  margon: 0;
}
.hero-text {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 60px;
}
.video-container-youtube {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 0;
}
.video-container {
  display: flex;
  flex-direction: column;
  background-color: orange;
  padding: 50px;
}
.video-container-text {
  font-size: 40px;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
}
.video iframe {
  width: 400px;
  border-radius: 10px;
  border: 5px solid #fff;
  object-fit: cover;
  height: 300px;
}
.higlighted-video-article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 50px 0;
  text-align: center;
  background-color: darkorange;
}
.higlighted-video-container .higlighted-video {
  width: 1000px;
  object-fit: cover;
  height: 500px;
  border-radius: 10px;
  border: 5px solid #000;
}
.higlighted-video-text {
  font-size: 30px;
}
.higlighted-video-article-text {
  font-size: 40px;
  margin-bottom: 0;
  margin-top: 0;
}
.gradient {
  background: linear-gradient(180deg, orange 7%, darkorange 59%);
  height: 100px;
}

@media screen and (max-width: 768px) {
  .video-container-youtube {
    flex-direction: column;
  }
  .video-container {
    padding: 20px;
  }
  .video iframe {
    width: 300px;
    height: 200px;
  }
  .higlighted-video-container .higlighted-video {
    width: 500px;
    height: 300px;
  }
  .higlighted-video-text {
    font-size: 20px;
  }
  .higlighted-video-article-text {
    font-size: 30px;
  }
}
